@import "pico.orange.min.css";

:root {
    --pico-border-radius: 0;
    --pico-spacing: 0.5rem;
    --pico-font-size: 100%;
    --pico-line-height: 1.3;
    --pico-form-element-spacing-vertical: 0.3rem;
    --pico-form-element-spacing-horizontal: 0.5em;
}

body {
    counter-reset: tokenblock;
}

.section-number::after {
    content: ". ";
}

span.task-status {
    font-size: 80%;
}

.task-status {
    margin-right: 0.5em;
}

org-note img {
    width: 50%;
}

.invalid-true {
    color: var(--pico-del-color);
}

.invalid-false {
    color: var(--pico-ins-color);
}

.edit-controls button {
    background-color: var(--pico-card-background-color);
    border: none;
    margin: 0;
    padding: 0 0.25em;
}

h1, h2, h3, h4 {
    font-size: 100%;
}

h2 button {
    margin-left: 1rem;
}

.whitespace {
    white-space: pre-wrap;
}

.editing-token {
    background-color: green;
}

.editing-range {
    background-color: darkgreen;
}

.token-block {
    counter-increment: tokenblock;
}

.token-line::before {
    counter-increment: tokenline;
    content: counter(tokenblock) "." counter(tokenline) " ";
}

.grid-with-side {
    counter-reset: tokenline;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 0.5rem;
}

.token-edit-bar {
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
}

details {
    cursor: default;
}

.tag {
    background-color: var(--pico-contrast-background);
    color: var(--pico-contrast-inverse);
    margin: 0.25rem;
    padding: 0.1rem;
    border-radius: 4px;
}

.quiet {
    background-color: var(--pico-background-color);
}

aside {
    padding: 1em;
}

div.focused {
    border: solid;
    border-width: 1px;
}

button.focused {
    font-weight: bold;
    text-decoration-line: underline;
}

div.hidden {
    display: none;
}

.tabs-header button {
    padding-left: 3px;
    padding-right: 3px;
}

.tab-inner-header {
    text-align: right;
}

.wrapper {
    display: grid;
}

.tabview {
    overflow-y: scroll;
}
