@import url("pico.orange.min.css");

:root {
    --pico-spacing: 0.5rem;
    --pico-font-size: 100%;
    --pico-line-height: 1.3;
    --pico-form-element-spacing-vertical: 0.3rem;
    --pico-form-element-spacing-horizontal: 0.5em;
}

/* main contains the sidebar and content */
main {
    display: flex;
}

/* content contains 0 or more `.tab-column`s */
#content {
    display: flex;
}

/* The sidebar. */
.side {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    padding: 1em;
}

.hidden-side {
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

/* Row and column containers. */
.tab-column {
    min-width: 700px;
}

.tab-row {
    flex: 1 1 auto;
}

.multiple-columns .tab-column {
    flex: 1 0 700px;
    flex-direction: column;
}

.multiple-rows .tab-column {
    display: grid;
    grid-template-columns: auto;
    max-height: 95dvh;
}

.multiple-rows .tab-row {
    overflow-y: scroll;
    resize: vertical;
}

/* The tab navigation area */
button.focused {
    font-weight: bold;
    text-decoration-line: underline;
}

.tab-header {
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: var(--pico-card-background-color);
}

.tab-nav {
    padding-right: 0;
    padding-left: 1rem;
    border-right-style: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.close-button {
    border-left-style: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.close-button.focused {
    text-decoration: none;
}

/* Vista internal */

.tab-view {
    padding: 1rem;
}

ul.all-glosses {
    padding-left: 0;
}

ul.all-glosses li {
    list-style-type: none;
}

.docview {
    padding: 1rem;
}

.metaview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.metaview > article {
    width: 20rem;
}

#modification-view {
    width: 40rem;
}

.tag {
    display: inline-block;
    padding: 0.1rem;
    margin: 0.25rem;
    color: var(--pico-contrast-inverse);
    background-color: var(--pico-contrast-background);
    border-radius: 4px;
}

div.hidden {
    display: none;
}

.filters {
    max-width: 30em;
}

.aligned-glosses {
    padding-left: 1.5em;
    text-indent: -1em;
}

.gloss-column {
    display: inline-table;
    padding: 0.25em;
    text-indent: 0;
}

.gloss-source-text {
    font-size: 110%;
}

.nav-link {
    padding: 0.5em;
}

.gloss-controls {
    text-align: right;
}
